<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Learning Vue</title> 
        <script src="https://unpkg.com/vue@next"></script>


    </head>
    <body>
        <h1>Buildings</h1>
        
        <div id="section">
            <div v-if="showSection">
                <p>{{ buildingID }} - {{ buildingName }} - {{ buildingCity }}</p>
            </div>
            <button @click="toggleShowSection">
                <span v-if="showSection">Hide</span>
                <span v-else>View</span>
            </button>
        </div>

        <script src="section.js"></script>
    </body>
</html>
